* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
}

section {
  height:100vh;
  width:100vw;
  background-color:white;
  font-family: 'Pangolin', cursive;
  
  
  
}


.score {
  color: #370617;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.score h2 {
  font-size: 2vw;
}
.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro {
  color: #03071E;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}
.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  background:#370617; /*rgb(45, 117, 96); */
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Pangolin', cursive;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}
.winner {
  color: #03071E;/* rgb(224, 224, 224);*/
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 500px) {
  
  .intro h1{
    color: #03071E;
  }
  .options , .hands   {
    flex-direction: column;
    color: #03071E;
    
  }
  .score{
    visibility: hidden;
  }
  
}
